body {
  margin: 0;
  background: #090909;
  color: #fff;
  font-family: monospace;
}

#main {
  display: grid;
  height: 80vh;
  margin-top: 60px;
  padding: 0 5vw;
  grid-gap: 0 20px;
  grid-template-columns: 1fr 1fr;
}

.col {
  border: .5px solid #fff;
  height: inherit;
  overflow-y: scroll;
}

#left-col-content {
  padding-top: 50px;
  height: 150vh;
}

#right-col {
  display: grid;
  align-items: center;
  justify-items: center;
}

#right-col p {
  max-width: 450px;
}

#canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
}